@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    color-scheme: light dark;
  }

  body {
    @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-white;
  }
}
